@layer base {
  html,html {
    font-smoothing:antialiased;
    font-size: 15px;
    -webkit-tap-highlight-color: transparent;
  }
}

:root {
  
  --xl-space: 120px;
  --lg-space: 80px;
  --md-space: 40px;
  --sm-space: 20px;

  --space-xl: var(--xl-space);
  --space-lg: var(--lg-space);
  --space-md: var(--md-space);
  --space-sm: var(--sm-space);

}